@use '../custom'as*;
@use './mixins'as *;

.btn-rounded {
  @include media-breakpoint-down(xl) {
    display: none;
  }

  position: relative;
  padding: 0.9rem 4.375rem 0.9rem 1.25rem;
  font-weight: 700;
  margin: 0;
  border: 0.1rem solid $white;
  background-color: $white;
  display: block;

  span {
    position: absolute;
    background-color: $primary;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);


    i {
      font-size: 1rem;
      color: $white;
      line-height: 2.5rem;
    }
  }

  &:hover {
    @include gradient;
    color: $white;

    span {
      background-color: rgba($black, 0.5);
    }
  }
}